<template lang="html">
  <div class='container has-text-centered'>
    <h1 class='title'>
      Bytewise
    </h1>
    <h2 class='subtitle'>
      Welcome to the about page
    </h2>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="css">
</style>
