<template lang='html'>
  <div class='container has-text-centered'>
    <h1 class='title'>
      Bytewise
    </h1>
    <h2 class='subtitle'>
      Welcome to the homepage
    </h2>
  </div>
</template>

<script>
import HomeHeader from './header'
export default {
  name: 'home',
  components: {HomeHeader}
}
</script>
