<template  lang="html">
  <nav v-if="!(this.$route.name === 'Blog')"  class="tabs is-boxed is-fullwidth has-text-centered">
    <div id="foot-nav" class="container" >
      <ul>
          <router-link  v-for="link in homeLinks" tag="li":to="{name: link.name}" ><a>{{ link.displayName }}</a></router-link>
      </ul>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'footer',
  data () {
    return {
      homeLinks: [
        { name: 'Home',
          displayName: 'Start'
        },
        { name: 'About',
          displayName: 'About Us'
        },
        { name: 'Team',
          displayName: 'Our Team'
        },
        { name: 'Hire',
          displayName: 'Hire'
        },
        { name: 'Join',
          displayName: 'Join'
        },
        { name: 'Portfolio',
          displayName: 'Portfolio'
        }
      ],
      blogLinks: [
        { name: 'Start',
          displayName: 'Start'
        },
        { name: 'Date',
          displayName: 'By Author'
        },
        { name: '',
          displayName: 'By Date'
        }
      ]
    }
  }
}
</script>

<style lang="scss">
</style>
