<template >
<nav>
  <header class="nav is-transparent">
    <div class="container">


      <div class="nav-left">
        <span class="nav-toggle" :class="{'is-active':isMenuActive}" @click="toggleMenu()">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>

      <div class="nav-center">
        <router-link class="":to="{name: 'Home'}">
          <img id="bytws-logo" class="is-overlay" src="../assets/svg/logo/bytewise.svg" alt="Bytewise Logo">
        </router-link>
      </div>
      <div class="nav-right nav-menu" :class="{'is-active':isMenuActive}" @click="toggleMenu()">
        <router-link class="nav-item" :to="{name: 'Home'}">
          Home
        </router-link>
        <router-link class="nav-item" :to="{name: 'Blog'}">
          Blog
        </router-link>
      </div>
    </div>

  </header>
</nav>
</template>

<script>
export default {
  name: 'nav',
  data () {
    return {
      isMenuActive: false
    }
  },
  methods: {
    toggleMenu: function () {
      return (this.isMenuActive = !this.isMenuActive)
    }
  }
}
</script>
