<template>
  <div>
  <navbar></navbar>

  <section id="app"  class="hero is-primary is-fullheight">

      <div class="hero-head">
    </div>

    <div class="hero-body">
      <router-view></router-view>
    </div>

    <div class="hero-foot has-text-centered">
      <foot></foot>
    </div>

  </section>
</div>
</template>

<script>
import Navbar from 'components/Navbar'
import Foot from 'components/Foot'

export default {
  name: 'app',
  components: {Navbar, Foot}
}
</script>

<style src="assets/styles/app.scss" lang="scss"></style>
