$bytewise-blue: #4285F4;
$primary: $bytewise-blue;
$background: #d9d9d9;

@import "../../../static/bulma/bulma";
@import "navbar";
@import "home";

html, body{
  overflow: auto;
  background-color: $background;
}

//This allows bulma and vue to work together
.router-link-active {
  @extend .is-active;
}
