$primary: blue !default; 

$nav-height: 50px;
$nav-item-color: grey;

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: $nav-height;
}

a.nav-item {
   color: $nav-item-color;
   &:active {
       background-color: $primary;
       color: black;

   }
}

#bytws-logo {
  margin-top: $nav-height / 4;
  height: $nav-height * 0.5;
}
